In [2]:
## List comprehension
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [3]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [4]:
lst=[1,2,3,4,5,6,7,8,9,10]
sum([i for i in lst if i%2!=0])

25

In [5]:
t=tuple([1,2,3])

In [6]:
t

(1, 2, 3)

In [14]:
l=['Tom','smith','bob']
l

['Tom', 'smith', 'bob']

In [16]:
[i[::-1] for i in l][::-1]

['bob', 'htims', 'moT']

In [10]:
1

1

In [11]:
l2

In [18]:
l.reverse()

In [21]:
### sets_ collection of unique elements
set((1,2,3,4,5))

{1, 2, 3, 4, 5}

In [22]:
type({1,2,3})

set

In [23]:
x1={1,2,3,4}
x2={1,2,3,4,5,6}

In [24]:
x1.add(7)

In [25]:
x1

{1, 2, 3, 4, 7}

In [26]:
x1.intersection(x2)

{1, 2, 3, 4}

In [27]:
x2.union(x1)

{1, 2, 3, 4, 5, 6, 7}

In [29]:
x2.difference(x1)

{5, 6}

In [30]:
x1

{1, 2, 3, 4, 7}

In [31]:
x2

{1, 2, 3, 4, 5, 6}

In [32]:
x1.issubset(x2)

False

In [33]:
x2.issubset(x1)

False

In [ ]:
# Dictionaries

In [1]:
var={1:'KRISH',2:'python',3:29}

In [3]:
type(var)

dict

In [4]:
var.keys()

dict_keys([1, 2, 3])

In [5]:
var.items()

dict_items([(1, 'KRISH'), (2, 'python'), (3, 29)])

In [6]:
var.values()

dict_values(['KRISH', 'python', 29])

In [7]:
var[1]

'KRISH'

In [9]:
my_dict={'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [11]:
my_dict['key3'][2]

'item2'

In [15]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [16]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [21]:
d['key1']['nestkey']['subnestkey']

'value'

In [22]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [23]:
# Functions

In [29]:
even_odd_sum((*)

0
1
2
1
2
5
2
9
2
7
4
7
12
7

In [1]:
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]
i=0
for i<len(lst1):
    lst3=lst1[i]+lst2[i]
    i=i+1
    print(lst(3))

SyntaxError: invalid syntax (<ipython-input-1-8b6775f0ddc9>, line 4)

In [3]:
def sum_list(items):
    sum_num=0
    for i in items:
        sum_num=i+sum_num
    return sum_num

In [7]:
a=sum_list([1,2,3])
a

6